/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the whole page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}



nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
   
}

login {
    position: absolute;
    right: 0;
    
}

/* Style the main content */
main {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#loginornot {
    float: right;
}


#tours {
    display:flex;
    flex-direction: row;
    padding:1rem;
}

.tour {
    padding:2rem;
    border: 1px solid #ddd;
    margin: 2rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}

.tour:hover {
    background-color: #e4e3e3;
}

.tour p {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.tour h2 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

    
.name {
    font-weight: bold;
    font-size: 2.4rem;
}

#new_tour {
    padding:2rem;
    margin-left: 20rem;
    font-size: 1.6rem;
}


