body {
    background-color: #EFEFEF;
}

.center {
    margin: auto;
    margin-top: 0;
    padding: 0.8vw;
    width: 50%;
    background-color: #FFF;
    
}

.center p {
    text-align: center;
    font-size: 30px;
}
div div form {
    height: 50vh;
}
form div {
    margin: 5px;
}
form input[type="text"] {
    float: right;
}
form input[type="button"] {
    float: right;
}

#login_button {
    margin-left: 100px;
    color: blue;
}

